table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;

  cursor: pointer;
  height: 60%;
  overflow-y: auto;
}
th,
td {
  border: 0.5px solid black;
  padding: 8px;
  text-align: left;
  /* border-bottom: 2px solid black; */

  /* border-radius: 25px; */
}
th {
  background-color: #f0b762;
}
.main-container {
  background-color: #d8eaf0;
  background-size: cover;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-container {
  border-radius: 60%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
.second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 20px;
}
.input-element {
  outline: none;
  background-color: #f0b762;
  color: black;
  border-radius: 15px;

  height: 30px;
  width: 45%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}
.dropdown-list {
  outline: none;
  background-color: #f0b762;
  color: black;
  border-radius: 15px;

  height: 30px;
  width: 30%;
  cursor: pointer;
}
.selector-element {
  background-color: rgb(147, 165, 42);
  color: white;
}
.next-pre-btn {
  display: flex;
  align-items: center;
}
.last-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
.next-button {
  cursor: pointer;
  margin-left: 5px;
  border: none;
  background-color: transparent;
}
.previous-button {
  cursor: pointer;
  margin-right: 5px;
  border: none;
  background-color: transparent;
}
.product-image {
  background-color: transparent;
}
.line {
  color: black;
}
.images {
  height: 100px;
  width: 100px;
  background-color: transparent;
}
