.statitics-container {
  background-color: #f0b762;
  padding: 10px;
  border-radius: 15px;
  height: 120px;
  width: 90%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
}
.statistics-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 40px;
}
.element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
  width: 100%;
}
